*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
.bg-fader{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: -99;
  }
.container-fluid,
.row{
    margin: 0;
    padding: 0;
}
/* ==================== NAVBAR ==================== */
.my-navbar{
    background: #3e3f57;
    border: none;
    border-radius: 0px;
    text-align: center;
    margin-bottom: 0;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover
{
    color: #b5b5b5;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #eee;
}
.navbar-brand .fa-home{
    font-size: 34px;
    color: #fff;
    background: #a591e3;
    padding: 14px 26px 34px 26px;
    margin-top: -15px;
}
.navbar-brand .brand-title{
    position: relative;
    top: 20px;
    left: -66px;
    color: #fff;
    font-size: 20px;
}
/* ==================== HOME ==================== */
.search-wrapper{
    width: 740px;
    margin: 0 auto;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
}
.search-wrapper p{
    color: #eee;
}
.search-wrapper h1{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 66px;
    line-height: 1;
    margin-bottom: 10px;
    text-shadow: 
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1); 
    -webkit-text-shadow: 
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1); 
    -moz-text-shadow: 
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1); 
}
.search-bar input[type=text]{
    width: 100%;
    height: 48px;
    margin-bottom: 4px;
    border: 1px solid #d4d4d8;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    color:#855595;
    outline: none;
}
.input-liv{
    width: 49.2%;
    float: left;
    margin-bottom: 1px;
}
.input-lot {
    float: left;
    position: relative;
    width: 50.2%;
    margin-left: 4px;
    margin-bottom: 1px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 180px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option,
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text
{
    height: 30px;
    padding: 5px 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: #A593E0;
    color: #fff;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{
    background: transparent;
    color: #888;
}
.btn-group>.btn:first-child{
    background: #A593E0;
}
.btn-default,
.btn-default:hover{
    border-color: #d4d4d8;
}
.btn-group.open .dropdown-toggle{
    box-shadow: none;
    border: 1px solid #d4d4d8 !important;
}
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover{
    background: #A593E0;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
    color: #eee;
}
.open>.dropdown-menu{
    padding: 0;
}
.dropdown-menu>li>a{
    padding: 4px 10px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: relative;
    display: inline-block;
    right: -15px;
    margin-top: 5px;
    color: #A593E0;
}
.bootstrap-select .btn:focus {
    outline: none !important;
}
.search-btn input[type=submit]{
    border: 1px solid #d4d4d8;
    padding: 9px 20px 9px 20px;
    border-radius: 4px;
    width: 188px;
    background: purple;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    text-align: center;
    top: 87.5%;
    text-decoration: none;
    outline: none;
    right: 0px;
}
.search-btn input[type=submit]:hover{
    background: #923292;
    cursor: pointer;
}
/* ==================== ABOUT ==================== */
.sec-about h2{
    padding-top: 70px;
    color: #855595;
  }
  .sec-about .mobile-view{
      display: none;
  }
  .sec-wrapper{
      padding-top: 60px;
      padding-bottom: 60px;
  }
  .sec-about .tools-used ul{
    list-style-type: none;
  }
  .sec-about .tools-used li{
    list-style-type: none;
    padding: 20px;
  }
  .sec-about .tools-used{
      margin-top: 80px;
  }
  .col-md-8{
    padding-left: 40px;
  }
  .img-profile img{
    margin: 5px auto;
    width: 300px;
  }
  .our-team{
      margin-bottom: 60px;
  }
  .our-team h2{
    padding-top: 60px;
    color: #855595;
  }
  .our-team .our-team-line,
  .sec-about .tools-line{
    border-bottom: 2px solid #855595;
    margin-bottom: 60px;
    width: 200px;
    margin: 0 auto;
  }
  .sec-wrapper h2{
    font-size: 45px;
    margin-top:0;
    padding-top: 0;
  }
  .sec-wrapper h2>span{
    color: purple;
  }
  .sec-wrapper hr{
    width: 280px;
    margin-left: 0;
    border-bottom: 2px solid #eee;
  }
  .sec-wrapper hr.hr-even{
    border-bottom: 2px solid #888;
    width: 280px;
    margin-left: 0;
  }
  .sec-wrapper h4{
    font-size: 24px;
    color: purple;
    text-transform: uppercase;
  }
  
  .sec-wrapper p{
    font-size: 16px;
    line-height: 24px;
  }
  ul{
    list-style: none;
    padding-left: 0;
  }
  ul li{
    display: inline;
    padding-right: 20px;
  }
  ul li a{
    color: #3e3f57;
    font-size: 16px;
  }
  ul li a:hover{
    font-size: 16px;
    text-decoration: none;
    color: #555;
  }
  .fa-github-square,
  .fa-linkedin{
    font-size: 22px;
    color: #3e3f57;
  }
  .footer-space{
      margin-top: 40px;
  }
  .hide{
      display: none;
  }
/* ==================== RESULTS ==================== */
.results-wrapper{
    background: #fff;
    padding: 40px 0 10px 0;
}
.section-results{
    padding-top: 40px;
    padding-bottom: 60px;
}
.result-details{
    padding-left: 10px;
}
.container-fluid .page-bg{
    background: url('/static/img/results-bg.jpg') top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.section-results .tweet-btn button{
    font-size: 14px;
    margin-bottom: 24px;
    border-radius: 100px;
    padding: 10px 20px;
    color: #fff;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15)
}
.section-results .display-value {
    margin-top: 20%;
    padding: 40px 10px 20px 10px;
    color: #fff;
    background: #3e3e57;
    position: relative;
    z-index: 999;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --moz--box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --webkit--box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.section-results .display-value br{
    display: none;
}
.section-results .price{
    color: #a591e3;
    font-size: 26px;
}
.section-results .img-logo img{
    width: 450px;
    margin: 0 auto;
}
.section-results h2{
    margin-top: 0px;
}
.section-results .lead{
    font-size: 22px;
}
.section-results .text-results{
    color: #3e3f57;
    font-size: 18px;
}
.section-results .text-results ul{
    list-style-type: none;
}
.section-results .text-results ul li {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.section-results .text-results span.price{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #855595;
}
.section-results .fa-dollar-sign {
    font-size: 26px;
    color: #a58fe6;
}
.btn-return{
    border: 1px solid #d4d4d8;
    padding: 9px 20px 9px 20px;
    border-radius: 4px;
    background: #3e3e57;
    color: white;
    float: left;
}
.section-results .btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
    color: #eee;
    background-color: #855595;
    border-color: #b5b5b5;
}
.text-results .v-google{
    font-size: 18px;
    padding: 6px;
    margin: 0;
    margin-top: 20px
}
.section-results .google-line{
    border-bottom: 1px solid lightgray;
    width: 100%;
}
.fa-map-pin{
    font-size: 20px;
    color: #ed412d;
}
#map {
    height: 400px;
    width: 100%;
}
.zillow-logo img{
    width: 150px;
    float: right;
    margin-right: -24px;
}
.zillow-terms{
    margin-top: 40px;
}
.zillow-terms br{
    display: none;
}
/* ==================== FOOTER ==================== */
footer{
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0px;
    left: 0px;
    background: #3e3f57;
    line-height: 40px;
    color: #b5b5b5;
    margin-top: -50px;
}
footer .fa-github{
    font-size: 16px;
    color: #A593E0;
    cursor: pointer;
}
/*********************** MEDIA QUERIES ************************/

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    
    .search-wrapper h1{
        font-size: 55px;
    }
    .search-wrapper{
        width: 640px;
        top: 20%;
    }
    .search-bar input[type=text]{
        margin-bottom: 2px;
        height: 42px;
    }
    .search-btn input[type=submit]{
        width: 163px;
        margin-top: -2px;
        font-size: 16px;
        padding: 8px 20px 8px 20px;
        right: 1px;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: 155px;
    }
    .dropdown-menu>li>a{
        padding: 2px 0px;
    }
    .bootstrap-select.btn-group .dropdown-toggle .filter-option,
    .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{
        font-size: 14px;
        height: 26px;
        padding: 4px 6px;
    }
    .input-liv{
        width: 49%;
    }
    .input-lot {
        width: 50.3%;
    }
    
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

     .navbar-brand .fa-home {
        font-size: 22px;
        color: #fff;
        background: none;
        padding: 14px 48px 15px 14px;
    }
    .navbar-brand .brand-title {
        position: relative;
        top: 2px;
        left: -45px;
        color: #fff;
        font-size: 24px;
    }
    .search-wrapper h1{
        font-size: 32px;
    }
    h1 br{
        display: none;
    }
    .section-results .display-value .lead br{
        display: block;
    }
    .search-wrapper{
        width: 300px;
        top: 10%;
    }
    footer span{
        display: none;
    }
    .search-btn input[type=submit] {
        width: 100%;
        top: 99.9%;
        font-size: 16px;
        padding: 10px 20px 10px 20px;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
        margin-bottom: 3px;
    }
    .btn-group>.btn {
        height: 42px;
        padding: 2px 0;
    }
    .search-bar input[type=text] {
        margin-bottom: 2px;
        height: 42px;
    }
    .input-liv{
        width: 100%;
    }
    .section-results{
        padding-top: 0;
    }
    .section-results .lead{
        font-size: 20px;
    }
    .section-results .tweet-btn button {
        padding: 10px 90px;
    }
    .tweet-btn{
        text-align: center;
        margin-top: 30px;
    }
    .input-lot {
        width: 100%;
        margin-left: 0px;
    }
    .dropdown-menu>li>a {
        padding: 2px 0px 2px 18px;
        text-align: left;
    }
    .sec-about .mobile-view{
        display: block;
    }
    .sec-wrapper{
        text-align: center;
    }
    .sec-wrapper h4{
        font-size: 22px;
    }
    .sec-wrapper hr,
    .sec-wrapper hr.hr-even{
        width: 80%;
        margin: 20px auto;
    }
    .aboutP,
    .sec-about .about-icons{
        display: none;
    }
    .sec-about .mobile-view{
        display: block;
    } 
    .img-profile img{
        margin: 5px auto;
        width: 200px;
        margin-bottom: 20px;
    }
    .social-icons{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .social-icons>ul>li>a {
        font-size: 20px;
    }
    .our-team h2{
        padding-top: 0;
      }
    .google-map{
        padding-left: 0;
        padding-right: 0;
    }
    .container-fluid .page-bg{
        background-image: none;
    }
    .zillow-terms br{
        display: block;
    }
    .col-md-8 {
        padding-left: 0;
        padding-right: 0;
    }
}