:root{
    --btn-bg-color-light: #855595;
    --btn-hover-color: #A593E0;
    --nav-bg-color: #3e3f57;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* 
body{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('/static/img/bg-img1.jpeg') center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  } */

.bg-fader{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: -99;
  }

.container-fluid,
.row{
    margin: 0;
    padding: 0;
}


/* ==================== NAVBAR ==================== */
.my-navbar{
    background: var(--nav-bg-color);
    border: none;
    border-radius: 0px;
    z-index: 999;
    text-align: center;
    margin-bottom: 0;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover
{
    color: #b5b5b5;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #eee;
}

.navbar-brand .fa-home{
    font-size: 34px;
    color: #fff;
    background: #a591e3;
    padding: 14px 26px 34px 26px;
    margin-top: -15px;
}

.navbar-brand .brand-title{
    position: relative;
    top: 20px;
    left: -66px;
    color: #fff;
    font-size: 20px;
}

/* ==================== HOME ==================== */
  
.search-wrapper{
    width: 740px;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.search-wrapper p{
    color: #eee;
}

.search-wrapper h1{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 10px;
    text-shadow: 
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1); 
    -webkit-text-shadow: 
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1); 
    -moz-text-shadow: 
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1); 
}

.search-bar input[type=text]{
    width: 100%;
    height: 48px;
    margin-bottom: 4px;
    border: 1px solid #d4d4d8;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    color:#855595;
    outline: none;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 180px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option,
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text
{
    height: 30px;
    padding: 5px 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: #A593E0;
    color: #fff;
    /* outline: none; */
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{
    background: transparent;
    color: #888;
}

.btn-group>.btn:first-child{
    background: #A593E0;
}

.btn-default,
.btn-default:hover{
    border-color: #d4d4d8;
}

.btn-group.open .dropdown-toggle{
    box-shadow: none;
    border: 1px solid #d4d4d8 !important;
}

.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover{
    background: #A593E0;
}

.bootstrap-select.btn-group .dropdown-toggle .caret{
    color: #eee;
}

.open>.dropdown-menu{
    padding: 0;
}
.dropdown-menu>li>a{
    padding: 4px 10px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark{
    margin-top: 10px;
    color: #A593E0;
}

.bootstrap-select .btn:focus {
    outline: none !important;
}


.search-btn input[type=submit]{
    border: 1px solid #d4d4d8;
    padding: 8px 20px 9px 20px;
    border-radius: 4px;
    width: 188px;
    background: purple;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    text-align: center;
    top: 89%;
    text-decoration: none;
    outline: none;
    right: 0px;
}

.search-btn input[type=submit]:hover{
    background: #923292;
    cursor: pointer;
}

/*********************** MEDIA QUERIES ************************/

@media screen and (max-width: 760px ){

    .search-wrapper h1{
        font-size: 46px;
    }
    .search-wrapper{
        width: 530px;
    }
    .search-bar input[type=text]{
        margin-bottom: 4px;
        height: 44px;
    }
    .search-btn input[type=submit]{
        width: 135px;
        margin-top: -2px;
        font-size: 16px;
        padding: 8px 20px 8px 20px;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: 128px;
    }
    .dropdown-menu>li>a{
        padding: 2px 0px;
    }
    .bootstrap-select.btn-group .dropdown-toggle .filter-option,
    .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{
        font-size: 14px;
        height: 26px;
        padding: 4px 6px;
    }
}

@media screen and (max-width: 560px ){

    .search-wrapper h1{
        font-size: 40px;
    }
    .search-wrapper{
        width: 460px;
    }
    .search-bar input[type=text]{
        margin-bottom: 4px;
        height: 44px;
    }
    .search-btn input[type=submit]{
        width: 100%;
        position: relative;
        margin-top: 0px;
        font-size: 16px;
        padding: 10px 20px;
    }
    .btn-group>.btn{
        margin-bottom: 4px;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: 100%;
    }
    .dropdown-menu{
        margin-top: -2px;
    }
    .dropdown-menu>li>a{
        padding: 2px;
        text-align: center;
    }
    .bootstrap-select.btn-group .dropdown-toggle .filter-option,
    .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{
        font-size: 14px;
        height: 26px;
        text-align: center;
    }
}

@media screen and (max-width: 414px ){

    .search-wrapper h1{
        font-size: 32px;
    }
    .search-wrapper{
        width: 340px;
        top: 16%;
    }
    footer span{
        display: none;
    }
}

@media screen and (max-width: 375px ){

    .search-wrapper h1{
        font-size: 40px;
    }
    .search-wrapper{
        width: 300px;
        top: 12%;
    }
    footer span{
        display: none;
    }
    .navbar-brand .fa-home {
        font-size: 22px;
        color: #fff;
        background: none;
        padding: 14px 48px 15px 14px;
    }
    .navbar-brand .brand-title {
        position: relative;
        top: 2px;
        left: -46px;
        color: #fff;
        font-size: 24px;
    }

}


/* ==================== ABOUT ==================== */

.section-about{
    color: #eee;
}

.me-section{
    width: 80%;
}

.about-icons{
    margin: 10px;
    padding: 10px;
}

.about{
    padding: 10px;
    width: 100%;
}

.about-content{
    height: 35%;
    background-color: #3e3f5762;
    border-radius: 5px;
}

/* ==================== RESULTS ==================== */

.section-results{
    color: #eee;
    font-weight: 300;
}

.section-results h2{
    margin-top: 0px;
}

.section-results .lead{
    padding-top: 10px;
}

hr{
    border-top: 1px solid #c7c7c7;
}

.section-results .text-results{
    color: #3e3f57;
    font-size: 18px;
}

.section-results .text-results ul{
    list-style-type: none;
}

.section-results .text-results ul li{
    font-size: 14px;
}

.section-results .text-results span.price{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #855595;
}

.section-results .fa-dollar-sign{
    font-size: 24px;
    color: #855595;
}

.btn-return{
    border: 1px solid #d4d4d8;
    padding: 9px 20px 9px 20px;
    border-radius: 4px;
    background: #A593E0;
    color: white;
    margin-bottom: 20px;
    margin-top: 70px;
}

.section-results .btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
    color: #eee;
    background-color: #855595;
    border-color: #b5b5b5;
}


.section-results .well{
    margin-bottom: 100px;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#map {
    height: 400px;
    width: 100%;
}


/* ==================== FOOTER ==================== */

footer{
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0px;
    left: 0px;
    background: var(--nav-bg-color);
    line-height: 40px;
    color: #b5b5b5;
    margin-top: -50px;
}

footer .fa-github{
    font-size: 16px;
    color: #A593E0;
    cursor: pointer;
}