{% extends 'layout.html' %}}

{% block body %}
 <div class="jumbotron text-center">
     <h1>Welcome to Home Estimate App</h1>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius incidunt pariatur expedita culpa qui! Ab incidunt magnam explicabo itaque, dolorum facere ducimus ad magni iure eveniet architecto commodi debitis.</p>
{#     <a href="/results" class="btn btn-lg btn-primary">Results</a>#}

    <form action="/results" method="post">
        <div class="form-group">
             <label for="address">Address</label>
             <input type="text" class="form-control" id="address" name="address">
       </div>
        <div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <div class="row">
            <label for="type">Type</label>
            <select class="form-control" id="type" name="type">
                <option>house</option>
                <option>apartament</option>
                <option>townhome</option>
                <option>land</option>
            </select>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="sel1">Bedrooms</label>
            <select class="form-control" id="bedroom" name="beds">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>.
                <option>4</option>
                <option>5+</option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="sel1">Bathrooms</label>
            <select class="form-control" id="bathrooms" name="baths">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
    </div>
        <div class="col-sm-2">
        <div class="form-group">
           <input type="submit" class="btn btn-lg btn-primary"/>
        </div>
    </div>
</div>

     </form>
 </div>
{% endblock %}