{% extends 'layout.html' %}}

{% block body %}

<div class="search-wrapper">

    <h1>The Best Estimate For<br>Your Home</h1>
    <p class="lead text-center">Get an instant and accurate value of a home for sale.</p>
    
    <form action="/results" method="post">

            <div class="search-bar">
                <input type="text" id="address" name="address" placeholder="Enter Your Address">
            </div>            
            
            <select id="type" name="type" class="selectpicker show-tick drop-down-hm"  title="Home Type">
                    <option>Condo</option>
                    <option>House</option>
                    <option>Townhouse</option>
                    <option>Land</option>
            </select>

            <select id="bedrooms" name="beds" class="selectpicker show-tick"  title="Bedrooms">
                    <option>Bed: 1</option>
                    <option>Bed: 2</option>
                    <option>Bed: 3</option>
                    <option>Bed: 4</option>
                    <option>Bed: 5+</option>
            </select>

            <select id="bathrooms" name="baths" class="selectpicker show-tick"  title="Bathrooms">
                    <option>Bath: 1</option>
                    <option>Bath: 2</option>
                    <option>Bath: 3</option>
                    <option>Bath: 4</option>
            </select>
                  
            <div class="search-btn">
                <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
                <input type="submit" id="btn-search" value="Search">
            </div>

    </form>

</div>

{% endblock %}